a {
  color: #ff9697;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
  background: #fff;
  padding: 20px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

a:hover,
a:focus {
  text-decoration: underline;
}

.toggleNav {
  display: none;
}

img {
  display: block;
  width: 100%;
  cursor: pointer;
  order: 1;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

img:hover {
  opacity: 0.5;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.top h1 a {
  font-size: 2rem;
  font-weight: 900;
}

h2 {
  font-size: 1.75rem;
}

input {
  padding: 10px;
  border: 0;
}

section,
footer {
  text-align: center;
  background: #fff;
  padding: 20px;
  margin: 20px 0;
  font-weight: 100;
}

form {
  padding: 20px;
  margin: 20px 0;
}

footer {
  border-top: 1px solid #e2e2e2;
}

.flex-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: flex;
}

.flex-nav li {
  -webkit-box-flex: 3;
  flex: 3;
}

.flex-nav li a {
  color: #8b8b8b;
}

.flex-nav li a:hover,
.flex-nav li a:focus {
  color: #222;
}

.flex-nav .social {
  -webkit-box-flex: 1;
  flex: 1;
}

.gallery ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

.gallery li {
  -webkit-box-flex: 1;
  flex: 1 1 50%;
  padding: 12px;
}

.container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  order: -1;
  transition: 0.5s ease;
}

.text {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .overlay {
  opacity: 1;
}

@media all and (max-width: 768px) {
  .flex-nav li,
  .gallery li {
    flex-basis: 100%;
  }

  .wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }

  .wrapper > * {
    -webkit-box-ordinal-group: 100;
    order: 99;
  }

  .flex-nav {
    -webkit-box-ordinal-group: 2;
    order: 1;
  }

  .toggleNav {
    display: block;
    color: #8b8b8b;
  }

  .toggleNav:hover,
  .toggleNav:focus {
    color: #222;
    text-decoration: none;
  }

  .flex-nav {
    border-bottom: 1px solid #e2e2e2;
  }

  .flex-nav ul {
    display: none;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .flex-nav ul.open {
    display: -webkit-box;
    display: flex;
  }

  .top {
    -webkit-box-ordinal-group: 3;
    order: 2;
  }
}
