@import url("https://fonts.googleapis.com/css?family=Lato:400,900");

@font-face {
  font-family: "ImcreSoojin";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/ImcreSoojin.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background: #fff;
  color: #222;
}

ul,
li {
  list-style: none;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

header {
  text-align: center;
}

header a,
nav a {
  width: 100%;
  color: #ff9697;
  padding: 20px 5px;
  font-weight: 400px;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  text-decoration: underline;
}

nav {
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav li a {
  color: #8b8b8b;
  padding: 20px;
}

.gallery ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.gallery li {
  flex: 1 1 50%;
  padding: 12px;
}

section,
footer {
  text-align: center;
  background: #fff;
  padding: 20px;
  margin: 20px 0;
  font-weight: 100;
}

footer {
  border-top: 1px solid #e2e2e2;
  width: 100%;
  display: inline-block;
}

footer p {
  color: #8b8b8b;
  float: left;
}

footer i {
  color: #8b8b8b;
  padding: 20px;
  float: right;
}

img {
  width: 456px;
  height: 304px;
  cursor: pointer;
  transition: opacity 0.5s ease-out;

  /* box-shadow: 2px 2px 4px 0 #ccc; */
  /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.6); */
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

.imageContainer:hover .imageDescription {
  opacity: 1;
}

.imageContainer:hover .image {
  opacity: 0.3;
}

.imageContainer {
  position: relative;
}

.imageDescription {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.imageContainer img {
  display: block;
}

.content {
  display: flex;
  font-weight: bold;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.info {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  position: absolute;
}

.title {
  font-size: xx-large;
}

.desciption {
  margin-top: 20px;
  font-size: large;
}

.imageContainer:hover .info {
  opacity: 1;
}

.v-border,
.h-border {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}

.v-border:before,
.v-border:after {
  width: 0%;
  height: 3px;
  left: 50%;
  transition: all 500ms ease-out;
  background: #fff;
}

.h-border:before,
.h-border:after {
  height: 0%;
  top: 50%;
  width: 3px;
  transition: all 500ms ease-out;
  background: #fff;
}

.v-border:before {
  content: "";
  top: 10%;
  position: absolute;
}

.v-border:after {
  content: "";
  bottom: 10%;
  position: absolute;
}

.h-border:before {
  content: "";
  left: 10%;
  height: 0%;
  position: absolute;
}

.h-border:after {
  content: "";
  right: 10%;
  position: absolute;
}

.imageContainer:hover .v-border:before,
.imageContainer:hover .v-border:after {
  width: 90%;
  left: 5%;
}

.imageContainer:hover .h-border:before,
.imageContainer:hover .h-border:after {
  height: 90%;
  top: 5%;
}

.imageContainer:hover .bg-overlay {
  background: rgba(0, 0, 0, 0.45);
}

.bg-overlay {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transition: all 500ms linear;
}
